<div style="width: 300px">
    <h3><%= link_to bubble.record_number, bubble %></h3>
	<% if bubble.description -%>
	<p><%=h bubble.description.gsub(/[']/, '\\\\\'') %></p>
	<% end -%>
	<% if bubble.resolution -%>
	<p>Resolution: <%= bubble.resolution %></p>
	<% end -%>
    <p>Time: <%= bubble.local_time.to_formatted_s(:simple) %></p>
    <p><address><%=simple_format bubble.address.to_s %></address></p>
</div>
