<div>
    <h3><%= incident.description %> (<%= incident.record_number %>)</h3>
	<% if incident.resolution %>
	<p><%= incident.resolution %></p>
	<% end %>
    <p><%= incident.time.to_formatted_s(:short) %></p>
    <p><%= incident.address.to_s %></p>
    <p><%= incident.geo_location.to_s %></p>
</div>
