<h1>Listing Incidents</h1>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @incidents %>

<table>
  <tr>
    <th>Record number</th>
    <th>Time</th>
    <th>Description</th>
	<th>Resolution</th>
    <th>Address</th>
    <th>Geo Location</th>
  </tr>

<% for incident in @incidents %>
  <tr>
    <td><%=h incident.record_number %></td>
    <td><%=h incident.incident_time.to_formatted_s(:short) %></td>
    <td><%=h incident.description %></td>
	<td><%=h incident.resolution %></td>
    <td><%=simple_format incident.address.to_s %></td>
    <td><%=h incident.geo_location.to_s %></td>
  </tr>
  <tr>
    <td colspan="6"><%= link_to 'Show', incident %>
    <%= link_to 'Edit', edit_polymorphic_path(incident) %>
    <%= link_to 'Destroy', incident, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

