<h1>New Incident</h1>

<% form_for(@incident) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :report_number %><br />
    <%= f.text_field :report_number %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', incidents_path %>
