<%= render :partial => "maps/google_script", :object => @incident %>

<p>
  <b>Report number:</b>
  <%=h @incident.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @incident.time.to_formatted_s(:short) %>
</p>
<p>
  <b>Description:</b>
  <%=h @incident.description %>
</p>
<p>
  <b>Resolution:</b>
  <%=h @incident.resolution %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @incident.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=h @incident.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @incident.geo_location.to_s %>
</p>

<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to 'Full ENotify', enotify_mail_path(@incident.enotify_mail) %> |
<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
