<script src="http://maps.google.com/maps?file=api&v=2.x&key=<%= google_api_key() %>" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map"));
	var latLong = new GLatLng(<%=h google_script.geo_location.to_s %>);
    map.setCenter(latLong, 15);
	map.addMapType(G_PHYSICAL_MAP);
	map.addOverlay(createMarker("<%= url_for :controller => :incidents, :action => :show, :id => google_script.id %>", <%=h google_script.geo_location.latitude %>, <%=h google_script.geo_location.longitude %>));
	map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl());

	var geoXml = new GGeoXml("<%= url_for root_url + 'extra/NSP2.kml' %>");
	map.addOverlay(geoXml);
  }
  new Popup('streetview', null, {modal:true});
});
//]]>
</script>
<div id="map" style="width: 400px; height: 400px"></div>
<div name="streetview" id="streetview" class="popup"></div>