<%- if map_incidents && map_incidents.size > 0 %>
<script src="http://maps.google.com/maps?file=api&v=2&key=<%= google_api_key() %>" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function load() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map"));
	var center = new GLatLng(<%= center_geo_locations(map_incidents) %>);
	map.setCenter(center, 14);
	<%- map_incidents.each do |inc| %>
	var marker<%=inc.id%> = new GMarker(new GLatLng(<%=h inc.geo_location.to_s %>))
	marker<%=inc.id%>.bindInfoWindowHtml('<%= render(:partial => 'incidents/bubble', :object => inc).split(' ').join(' ') %>')
	map.addOverlay(marker<%=inc.id%>);
	<%- end %>
	map.addMapType(G_PHYSICAL_MAP);
	map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl());
  }
}
//]]>
</script>
<div id="map" style="width: 600px; height: 300px"></div>
<%- end %>
