<%= render :partial => "util/atom_link" %>

<h2>Service Requests</h2>

<%= render :partial => 'util/formats' %>
<br/>

<% cache(:key => current_model_name + '_filter') do %>
<%= render :partial => "incidents/filter" %>
<% end %>

<%= render :partial => "maps/map_incidents", :object => @service_requests %>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<%= will_paginate @service_requests %>
<br/>
<table>
  <tr>
  	<th>Record Number</th>
  	<th>Tax Key</th>
  	<th>Time</th>
  	<th>Description</th>
  	<th>Address</th>
  	<th>&nbsp;</th>
  </tr>

<% for service_request in @service_requests %>
  <tr>
  	<td><%=link_to service_request.record_number, service_request %></td>
  	<td><%=h service_request.tax_key %></td>
  	<td><%=h service_request.local_time.to_formatted_s(:simple) %></td>
  	<td><%=h service_request.description %></td>
   	<td><address><%=simple_format service_request.address.to_s %></address></td>
  	<% user_has_role('admin') do -%>
  	<td>
  	<%= link_to 'Edit', edit_service_request_path(service_request) %>
  	<%= link_to 'Destroy', service_request, :confirm => 'Are you sure?', :method => :delete %>
  	</td>
  	<% end -%>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @service_request %>
<br />

<% user_has_role('admin') do -%>
<%= link_to 'New Service Request', new_service_request_path %>
<% end -%>
