<%= render :partial => "maps/google_script",:object => @service_request %>

<div id="incident">
    <p>
      <div class="label">Report number:</div>
      <div class="value"><%=h @service_request.record_number %></div>
    </p>
    <p>
      <div class="label">Time:</div>
      <div class="value"><%=h @service_request.local_time.to_formatted_s(:simple) %></div>
    </p>
    <p>
      <div class="label">Description:</div>
      <div class="value"><%=h @service_request.description %></div>
    </p>
    <p>
      <div class="label">Tax Key:</div>
      <div class="value">
        <%= link_to @service_request.tax_key, "http://isdweb1.ci.mil.wi.us/cgi-bin/bicola?colaid=biadmin&formid=bisearch&Taxkey=#{@service_request.tax_key_clean}&btnDetail=Submit" %> (Milwaukee NSS)<br/>
        <%= link_to @service_request.tax_key, "http://assessments.milwaukee.gov/remast.asp?taxkey=#{@service_request.tax_key_clean}" %> (Assessor's Office)
      </div>
    </p>
    <p>
      <div class="label">Address:</div>
      <div class="value"><address><%=simple_format @service_request.address.to_s %></address></div>
    </p>
    <p>
      <div class="label">Geo Location:</div>
      <div class="value"><%=h @service_request.geo_location.to_s %></div>
    </p>
    <p>
    <%= link_to 'Same Record', :action=>:by_record, :record_number=>@service_request.record_number %> |
    <%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@service_request.address %> |
    <%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@service_request.address %>
    </p>
</div>
<div id="map" style="width: 400px; height: 400px"></div>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<div id="incident-footer">
    <div id="enotify_popup" class="popup"></div>
    <%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
    
    <%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@service_request.enotify_mail_id) %>
    <br/>
    <%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
    <br/>

    <% user_has_role('admin') do -%>
    <%= link_to 'Edit', edit_service_request_path(@service_request) %> |
    <% end -%>
    <%= link_to 'Back', service_requests_path %>
</div>
