<%= render :partial => "maps/google_script",:object => @service_request %>

<p>
<%= link_to 'Same Record', :action=>:by_record, :record_number=>@service_request.record_number %> |
<%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@service_request.address %> |
<%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@service_request.address %>
</p>

<p>
  <b>Report number:</b>
  <%=h @service_request.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @service_request.incident_time.to_formatted_s(:short) %>
</p>
<p>
  <b>Description:</b>
  <%=h @service_request.description %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @service_request.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=simple_format @service_request.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @service_request.geo_location.to_s %>
</p>

<div id="enotify_popup" class="popup">
</div>
<%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@service_request.enotify_mail_id) %>
<br/>
<%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
<br/>

<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
