<%= render :partial => "maps/google_script",:object => @service_request %>

<p>
  <b>Report number:</b>
  <%=h @service_request.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @service_request.time %>
</p>
<p>
  <b>Complaint:</b>
  <%=h @service_request.complaint %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @service_request.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=h @service_request.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @service_request.geo_location.to_s %>
</p>

<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to 'Full ENotify', enotify_mail_path(@service_request.enotify_mail) %> |
<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
