<%= render :partial => "util/atom_link" %>

<h2>Recent Activity</h2>
<%= render :partial => 'util/formats' %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @incidents %>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<%= render :partial => "incidents/incident", :collection => @incidents %>
