<h1>Listing Permit Records</h1>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @permit_records %>

<table>
  <tr>
  	<th>Record number</th>
	<th>Tax Key</th>
  	<th>Time</th>
  	<th>Description</th>
  	<th>Address</th>
  </tr>

<% for permit_record in @permit_records %>
  <tr>
  	<td><%=link_to permit_record.record_number, permit_record %></td>
  	<td><%=h permit_record.tax_key %></td>
  	<td><%=h permit_record.incident_time.to_formatted_s(:short) %></td>
  	<td><%=h permit_record.description %></td>
 	<td><%=simple_format permit_record.address.to_s %></td>
	<td>
	<%= link_to 'Edit', edit_permit_record_path(permit_record) %>
	<%= link_to 'Destroy', permit_record, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permit Record', new_permit_record_path %>
