<h2>New Permit Record</h2>

<% form_for(@permit_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tax_key %>
    <%= f.text_field :tax_key %>
  </p>
  <p>
    <%= f.label :record_number %>
    <%= f.text_field :record_number %>
  </p>
  <p>
    <%= f.label :incident_time %>
    <%= f.datetime_select :incident_time %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', permit_records_path %>
