<h1>New permit_record</h1>

<% form_for(@permit_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tax_key %><br />
    <%= f.text_field :tax_key %>
  </p>
  <p>
    <%= f.label :record_number %><br />
    <%= f.text_field :record_number %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', permit_records_path %>
