<%= render :partial => "maps/google_script", :object => @permit_record %>

<div id="incident">
    <p>
      <div class="label">Report number:</div>
      <div class="value"><%=h @permit_record.record_number %></div>
    </p>
    <p>
      <div class="label">Time:</div>
      <div class="value"><%=h @permit_record.incident_time %></div>
    </p>
    <p>
      <div class="label">Description:</div>
      <div class="value"><%=h @permit_record.description %></div>
    </p>
    <p>
      <div class="label">Tax Key:</div>
      <div class="value">
          <%= link_to #{@recording_application.tax_key}, "http://isdweb1.ci.mil.wi.us/cgi-bin/bicola?colaid=biadmin&formid=bisearch&Taxkey=#{@recording_application.tax_key_clean}&btnDetail=Submit" %> (Milwaukee NSS)<br/>
           <%= link_to #{@recording_application.tax_key}, "http://assessments.milwaukee.gov/remast.asp?taxkey==#{@recording_application.tax_key_clean}" %> (Assessor's Office)
      </div>
    </p>
    <p>
      <div class="label">Address:</div>
      <div class="value"><address><%=simple_format @permit_record.address.to_s %></address></div>
    </p>
    <p>
      <div class="label">Geo Location:</div>
      <div class="value"><%=h @permit_record.geo_location.to_s %></div>
    </p>
    <p>
    <%= link_to 'Same Record', :action=>:by_record, :record_number=>@permit_record.record_number %> |
    <%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@permit_record.address %> |
    <%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@permit_record.address %>
    </p>
</div>
<div id="map" style="width: 400px; height: 400px"></div>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<div id="incident-footer">
    <div id="enotify_popup" class="popup"></div>
    <%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
    
    <%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@permit_record.enotify_mail_id) %>
    <br/>
    <%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
    <br/>

    <% user_has_role('admin') do -%>
    <%= link_to 'Edit', edit_permit_record_path(@permit_record) %> |
    <% end -%>
    <%= link_to 'Back', permit_records_path %>
</div>
