<%= render :partial => "maps/google_script", :object => @permit_record %>

<p>
<%= link_to 'Same Record', :action=>:by_record, :record_number=>@permit_record.record_number %> |
<%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@permit_record.address %> |
<%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@permit_record.address %>
</p>

<p>
  <b>Report number:</b>
  <%=h @permit_record.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @permit_record.incident_time %>
</p>
<p>
  <b>Description:</b>
  <%=h @permit_record.description %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @permit_record.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=simple_format @permit_record.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @permit_record.geo_location.to_s %>
</p>

<div id="enotify_popup" class="popup">
</div>
<%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@permit_record.enotify_mail_id) %>
<br/>
<%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
<br/>

<%= link_to 'Edit', edit_permit_record_path(@permit_record) %> |
<%= link_to 'Back', permit_records_path %>
