<%= render :partial => "maps/google_script", :object => @permit_record %>

<p>
  <b>Report number:</b>
  <%=h @permit_record.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @permit_record.incident_time %>
</p>
<p>
  <b>Description:</b>
  <%=h @permit_record.description %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @permit_record.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=h @permit_record.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @permit_record.geo_location.to_s %>
</p>

<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to 'Full ENotify', enotify_mail_path(@permit_record.enotify_mail) %> |
<%= link_to 'Edit', edit_permit_record_path(@permit_record) %> |
<%= link_to 'Back', permit_records_path %>
