<h2>Editing Crimes</h2>

<% form_for(@crime) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :record_number %>
    <%= f.text_field :record_number %>
  </p>
  <p>
    <%= f.label :incident_time %>
    <%= f.datetime_select :incident_time %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :resolution %>
    <%= f.text_area :resolution %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @crime %> |
<%= link_to 'Back', crimes_path %>
