<h1>Editing Crimes</h1>

<% form_for(@crime) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :record_number %><br />
    <%= f.text_field :record_number %>
  </p>
  <p>
    <%= f.label :incident_time %><br />
    <%= f.datetime_select :incident_time %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :resolution %><br />
    <%= f.text_field :resolution %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @crime %> |
<%= link_to 'Back', crimes_path %>
