<h2>Listing Crimes</h2>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %> |
<%= link_to 'KML Data', url_for({:format => :kml}.merge(params)) %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @crimes %>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<%= will_paginate @crimes %>
<br/>

<table>
  <tr>
  	<th>Record number</th>
  	<th>Time</th>
  	<th>Description</th>
  	<th>Resolution</th>
  	<th>Address</th>
  	<th>&nbsp;</th>
  </tr>

<% for crime in @crimes %>
  <tr>
  	<td><%=link_to crime.record_number, crime %></td>
  	<td><%=h crime.local_time.to_formatted_s(:simple) %></td>
  	<td><%=h crime.description %></td>
  	<td><%=h crime.resolution %></td>
 	<td><address><%=simple_format crime.address.to_s %></address></td>
	<% user_has_role('admin') do -%>
  	<td>
	<%= link_to 'Edit', edit_crime_path(crime) %>
	<%= link_to 'Destroy', crime, :confirm => 'Are you sure?', :method => :delete %>
	</td>
	<% end -%>
  </tr>
<% end %>
</table>

<br/>
<%= will_paginate @crimes %>

<br />

<%= link_to 'New Crime', new_crime_path %>
