<h1>Listing Crimes</h1>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %> |
<%= link_to 'KML Data', url_for({:format => :kml}.merge(params)) %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @crimes %>

<table>
  <tr>
  	<th>Record number</th>
  	<th>Time</th>
  	<th>Description</th>
  	<th>Resolution</th>
  	<th>Address</th>
  </tr>

<% for crime in @crimes %>
  <tr>
  	<td><%=link_to crime.record_number, crime %></td>
  	<td><%=h crime.incident_time.to_formatted_s(:short) %></td>
  	<td><%=h crime.description %></td>
  	<td><%=h crime.resolution %></td>
 	<td><%=simple_format crime.address.to_s %></td>
  	<td>
	<%= link_to 'Edit', edit_crime_path(crime) %>
	<%= link_to 'Destroy', crime, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crime', new_crime_path %>
