<h1>Listing Crimes</h1>

<table>
  <tr>
  	<th>Record number</th>
  	<th>Time</th>
  	<th>Description</th>
  	<th>Resolution</th>
  	<th>Address</th>
  </tr>

<% for crime in @crimes %>
  <tr>
  	<td><%=h crime.record_number %></td>
  	<td><%=h crime.incident_time.to_formatted_s(:short) %></td>
  	<td><%=h crime.description %></td>
  	<td><%=h crime.resolution %></td>
 	<td><%=simple_format crime.address.to_s %></td>
  </tr>
  <tr>
    <td colspan="5">
    <%= link_to 'Show', crime %>
	<%= link_to 'Edit', edit_crime_path(crime) %>
	<%= link_to 'Destroy', crime, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crime', new_crime_path %>
