<h1>New Crime</h1>

<% form_for(@crime) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :record_number %><br />
    <%= f.text_field :record_number %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :resolution %><br />
    <%= f.text_field :resolution %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', crimes_path %>
