<%= render :partial => "maps/google_script", :object => @crime %>

<p>
<%= link_to 'Same Record', :action=>:by_record, :record_number=>@crime.record_number %> |
<%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@crime.address %> |
<%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@crime.address %> 
</p>

<p>
  <b>Report number:</b>
  <%=h @crime.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @crime.incident_time.to_formatted_s(:short) %>
</p>
<p>
  <b>Description:</b>
  <%=h @crime.description %>
</p>
<p>
  <b>Resolution:</b>
  <%=h @crime.resolution %>
</p>
<p>
  <b>Address:</b>
  <%=simple_format @crime.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @crime.geo_location.to_s %>
</p>

<div id="enotify_popup" class="popup">
</div>
<%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@crime.enotify_mail_id) %>
<br/>
<%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
<br/>

<% user_has_role('admin') do -%>
<%= link_to 'Edit', edit_crime_path(@crime) %> |
<% end -%>
<%= link_to 'Back', crimes_path %>
