<%= render :partial => "maps/google_script", :object => @crime %>

<div id="incident">
    <p>
      <div class="label">Report number:</div>
      <div class="value"><%=h @crime.record_number %></div>
    </p>
    <p>
      <div class="label">Time:</div>
      <div class="value"><%=h @crime.local_time.to_formatted_s(:simple) %></div>
    </p>
    <p>
      <div class="label">Description:</div>
      <div class="value"><%=h @crime.description %></div>
    </p>
    <p>
      <div class="label">Resolution:</div>
      <div class="value"><%=h @crime.resolution %></div>
    </p>
    <p>
      <div class="label">Address:</div>
      <div class="value"><address><%=simple_format @crime.address.to_s %></address></div>
    </p>
    <p>
      <div class="label">Geo Location:</div>
      <div class="value"><%=h @crime.geo_location.to_s %></div>
    </p>
    <p>
    <%= link_to 'Same Record', :action=>:by_record, :record_number=>@crime.record_number %> |
    <%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@crime.address %> |
    <%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@crime.address %> 
    </p>
</div>
<div id="map" style="width: 400px; height: 400px"></div>

<div id="enotify_popup" class="popup"></div>
<%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>

<div id="incident-footer">
    <%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@crime.enotify_mail_id) %>
    <br/>
    <%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
    <br/>

    <% user_has_role('admin') do -%>
    <%= link_to 'Edit', edit_crime_path(@crime) %> |
    <% end -%>
    <%= link_to 'Back', crimes_path %>
</div>