<h2>Violation Records</h2>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %> |
<%= link_to 'KML Data', url_for({:format => :kml}.merge(params)) %>
<br/>

<% cache(:key => current_model_name + '_filter') do %>
<%= render :partial => "incidents/filter" %>
<% end %>

<%= render :partial => "maps/map_incidents", :object => @violation_records %>

<div name="streetview" id="streetview" class="popup"></div>
<%= javascript_tag "new Popup('streetview', null, {modal:true})" %>

<%= will_paginate @violation_records %>
<br/>
<table>
  <tr>
	<th>Record Number</th>
	<th>Tax Key</th>
	<th>Time</th>
	<th>Description</th>
	<th>Address</th>
	<th>&nbsp;</th>
  </tr>

<% for violation_record in @violation_records %>
  <tr>
  	<td><%=link_to violation_record.record_number, violation_record %></td>
  	<td><%=h violation_record.tax_key %></td>
  	<td><%=h violation_record.local_time.to_formatted_s(:simple) %></td>
  	<td><%=h violation_record.description %></td>
 	  <td><address><%=simple_format violation_record.address.to_s %></address></td>
  	<% user_has_role('admin') do -%>
  	<td>
  	<%= link_to 'Edit', edit_violation_record_path(violation_record) %>
  	<%= link_to 'Destroy', violation_record, :confirm => 'Are you sure?', :method => :delete %>
  	</td>
  	<% end -%>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @violation_record %>

<br />

<%= link_to 'New Violation Record', new_violation_record_path %>
