<div id="incident">
    <p>
      <div class="label">Report number:</div>
      <div class="value"><%=h @violation_record.record_number %></div>
    </p>
    <p>
      <div class="label">Time:</div>
      <div class="value"><%=h @violation_record.local_time.to_formatted_s(:simple) %></div>
    </p>
    <p>
      <div class="label">Description:</div>
      <div class="value"><%=h @violation_record.description %></div>
    </p>
    <p>
      <div class="label">Tax Key:</div>
      <div class="value">
        <%= link_to @violation_record.tax_key, "http://isdweb1.ci.mil.wi.us/cgi-bin/bicola?colaid=biadmin&formid=bisearch&Taxkey=#{@violation_record.tax_key_clean}&btnDetail=Submit" %> (Milwaukee NSS)<br/>
        <%= link_to @violation_record.tax_key, "http://assessments.milwaukee.gov/remast.asp?taxkey=#{@violation_record.tax_key_clean}" %> (Assessor's Office)
      </div>
    </p>
    <p>
      <div class="label">Address:</div>
      <div class="value"><address><%=simple_format @violation_record.address.to_s %></address></div>
    </p>
    <p>
      <div class="label">Geo Location:</div>
      <div class="value"><%=h @violation_record.geo_location.to_s %></div>
    </p>
    <p>
    <%= link_to 'Same Record', :action=>:by_record, :record_number=>@violation_record.record_number %> |
    <%= link_to 'Same Address', :controller=>:incidents, :action=>:by_address, :address_id=>@violation_record.address %> |
    <%= link_to 'Same Block', :controller=>:incidents, :action=>:same_block, :address_id=>@violation_record.address %>
    </p>
</div>

<%= render :partial => "maps/google_script", :object => @violation_record %>

<div id="incident-footer">
    <div id="enotify_popup" class="popup"></div>
    <%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
    
    <%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@violation_record.enotify_mail_id) %>
    <br/>
    <%= link_to 'KML Data (Google Maps)', url_for({:format => :kml}) %>
    <br/>
    <% user_has_role('admin') do -%>
    <%= link_to 'Edit', edit_violation_record_path(@violation_record) %> |
    <% end -%>
    <%= link_to 'Back', violation_records_path %>
</div>
