<h2>New ENotify Mail</h2>

<% form_for(@enotify_mail) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Paste ENotify Mail Contents</legend>
    
    <p>
      <%= f.label :original_text %>
      <%= f.text_area :original_text %>
    </p>
    <p>
      <%= f.submit "Create" %>
    </p>
  </fieldset>
<% end %>

<%= link_to 'Back', enotify_mails_path %>
