<%= render :partial => "util/atom_link" %>

<h2>Recording Application</h2>

<%= render :partial => 'util/formats' %>
<br/>

<% cache(:key => current_model_name + '_filter') do %>
<%= render :partial => "incidents/filter" %>
<% end %>

<%= render :partial => "maps/map_incidents", :object => @recording_applications %>

<%= will_paginate @recording_applications %>
<br/>
<table>
  <tr>
	<th>Record Number</th>
	<th>Tax Key</th>
	<th>Time</th>
	<th>Address</th>
	<th>&nbsp;</th>
  </tr>

<% for recording_application in @recording_applications %>
  <tr>
    <td><%= link_to recording_application.record_number, recording_application %></td>
  	<td><%=h recording_application.tax_key %></td>
  	<td><%=h recording_application.local_time.to_formatted_s(:simple) if recording_application.local_time %></td>
 	<td><address><%=simple_format recording_application.address.to_s %></address></td>
	<% user_has_role('admin') do -%>
    <td>
	<%= link_to 'Edit', edit_recording_application_path(recording_application) %>
	<%= link_to 'Destroy', recording_application, :confirm => 'Are you sure?', :method => :delete %>
	</td>
	<% end -%>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @recording_application %>

<br />

<% user_has_role('admin') do -%>
<%= link_to 'New Recording Application', new_recording_application_path %>
<% end -%>
