<h1>Listing Recording Application</h1>

<%= link_to 'Atom', url_for({:format => :atom}.merge(params) ) %> | 
<%= link_to 'iCal', url_for({:format => :ics}.merge(params)) %> |
<%= link_to 'KML Data', url_for({:format => :kml}.merge(params)) %>
<br/>

<%= render :partial => "maps/map_incidents", :object => @recording_applications %>

<%= will_paginate @recording_applications %>
<br/>
<table>
  <tr>
	<th>Record Number</th>
	<th>Tax Key</th>
	<th>Time</th>
	<th>Description</th>
	<th>Address</th>
  </tr>

<% for recording_application in @recording_applications %>
  <tr>
    <td><%= link_to recording_application.record_number, recording_application %></td>
  	<td><%=h recording_application.tax_key %></td>
  	<td><%=h recording_application.incident_time.to_formatted_s(:short) %></td>
  	<td><%=h recording_application.description %></td>
 	<td><%=simple_format recording_application.address.to_s %></td>
	<% user_has_role('admin') do -%>
    <td>
	<%= link_to 'Edit', edit_recording_application_path(recording_application) %>
	<%= link_to 'Destroy', recording_application, :confirm => 'Are you sure?', :method => :delete %>
	</td>
	<% end -%>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @recording_application %>

<br />

<%= link_to 'New Recording Application', new_recording_application_path %>
