<%= render :partial => "maps/google_script",:object => @recording_application %>

<p>
  <b>Report number:</b>
  <%=h @recording_application.record_number %>
</p>
<p>
  <b>Time:</b>
  <%=h @recording_application.incident_time.to_formatted_s(:short) %>
</p>
<p>
  <b>Description:</b>
  <%=h @recording_application.description %>
</p>
<p>
  <b>Tax Key:</b>
  <%=h @recording_application.tax_key %>
</p>
<p>
  <b>Address:</b>
  <%=simple_format @recording_application.address.to_s %>
</p>
<p>
  <b>Geo Location:</b>
  <%=h @recording_application.geo_location.to_s %>
</p>

<div id="enotify_popup" class="popup">
</div>
<%= javascript_tag "new Popup('enotify_popup', null, {modal:true})" %>
<div id="map" style="width: 500px; height: 300px"></div>

<%= link_to_remote "Original ENotify Email", :method => :get, :url => enotify_mail_path(@recording_application.enotify_mail_id) %>
<br/>
<%= link_to 'Edit', edit_recording_application_path(@recording_application) %> |
<%= link_to 'Back', recording_applications_path %>
