<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Milwaukee ENotify</title>
	<%= stylesheet_link_tag 'scaffold', 'reset', 'style' %>
	<%= javascript_include_tag :all %>
	<%= yield(:header) %>
</head>
<body onunload="GUnload()">
	<div id="header">
		<div id="img">&nbsp;</div>
		<h1><%= link_to 'Milwaukee ENotify Deconstructed', :controller=>'welcome' %></h1>
		<div id="headernav">
			<%- if logged_in? %>
				<%= current_user.login %> 
				[<%= link_to('logout', session_path, :method => :delete ) %>]
			<%- end %>
			<div class="search">
          		<% form_tag({:controller=>:welcome, :action=>:search}) do -%>
          			<%= text_field_tag 'term' %>
          			<%= image_submit_tag("magnifier.png") %>
          		<% end -%>
      		</div>
		</div>
	</div>
	<div id="navigation">
		<ul>
			<li><%= link_to 'Home', :controller=>'welcome' %></li>
			<li><%= link_to 'Crimes', crimes_path %></li>
			<li><%= link_to 'Service Requests', service_requests_path %></li>
			<li><%= link_to 'Permit Records', permit_records_path %></li>
			<li><%= link_to 'Recording Applications', recording_applications_path %></li>
			<li><%= link_to 'Violation Records', violation_records_path %></li>
			<% user_has_role('admin') do -%>
			<li><%= link_to 'New ENotify', new_enotify_mail_path  %></li>
			<li><%= link_to 'Users', users_path  %></li>
			<% end -%>
		</ul>
	</div>
	
	<div id="wrapper">	
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield  %>
		</div>
	</div>

	<div id="footer">
		<p>A product of <a href="http://www.zorched.net">Zorched.net</a>
		| Validate <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
		<a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a>
		| <%= link_to 'login', :controller => 'session', :action => 'new' %>
		</p>
	</div>
</body>
</html>
