<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Milwaukee ENotify</title>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag :all %>
</head>
<body onload="load()" onunload="GUnload()">
	<div id="header">
		<div id="img">&nbsp;</div>
		<h1><%= link_to 'Milwaukee ENotify Deconstructed', :controller=>'welcome' %></h1>
		<div id="headernav">
			<%- if logged_in? %>
				<%= current_user.login %> 
				(<%= link_to('Logout', session_path, :method => :delete ) %>)
			<%- end %>
		</div>
	</div>

	<div id="wrapper">

		<div id="navigation">
			<div class="search">
			<% form_tag({:controller=>:welcome, :action=>:search}) do -%>
				<%= text_field_tag 'term' %>
				<%= submit_tag 'Search'%>
			<% end -%>
			</div>
			<ul>
				<li> <h3>Navigation</h3> </li>
				<li><%= link_to 'Home', :controller=>'welcome' %></li>
				<li><%= link_to 'Crimes', crimes_path %></li>
				<li><%= link_to 'Service Requests', service_requests_path %></li>
				<li><%= link_to 'Permit Records', permit_records_path %></li>
				<li><%= link_to 'Recording Applications', recording_applications_path %></li>
				<li><%= link_to 'Violation Records', violation_records_path %></li>

				<% user_has_role('admin') do -%>
				<li> <h3>Actions</h3> </li>
				<li><%= link_to 'New ENotify', new_enotify_mail_path  %></li>
				<% end -%>
			</ul>
		</div>		
	
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield  %>
		</div>
	</div>

	<div id="footer">
		<p>&copy;Copyright 2008 - 2009 Geoff Lane &mdash;
		Validate <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
		<a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a></p>
	</div>
</body>
</html>
